<% include body.html %>
<div id="page_content">


    <% if(typeof result == 'object' && result){ 

         for(var i=0; i < result.length; i++) { %>
    <form action="exec_raport" method="GET">
        <input type="hidden" name="id_raport" alt="id_raport" value="<%= result[i].id_raport %>"></input>
        <button
            id="reportButton"><%= result[i].nume_raport %></button>

    </form>
    <% }
        } %>



    <p>test</p>
</div>
<% include body_end.html %>