<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="page">


        <form id="mainLoginForm" action="auth" method="POST">
            <div class="imgcont">
                <img src="media/logo.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="username"><b>Nume utilizator</b></label>
                <input type="text" placeholder="Introduceti Username" class="loginInput" name="username" required>

                <label for="password"><b>Parola</b></label>
                <input type="text" placeholder="Introduceti parola" class="loginInput" name="password" required>

                <button type="submit" id="loginButton">Logare</button>

                <span class="psw"><a href="mailto:admin@skimaster.ro">Am uitat parola ? </a></span>

            </div>

        </form>
    </div>
    <% include body_end.html %>