<% include body.html %>
    <div id="page_content">
        <h1>Informatii clienti</h1>

        <% if(typeof result == 'object' && result){ %>
            <table id="data_menu">
                <% for(var i=0; i < result.length; i++) { %>
                    <tr>
                        <td>
                            <%= result[i].id_client %>
                        </td>
                        <% if (result[i].vip == 1) { %>
                            <td class="vip">
                                <%= result[i].nume_client %>
                            </td>
                            <% } else { %>
                                <td>
                                    <%= result[i].nume_client %>
                                </td>
                                <% } %>
                                    <td>
                                        <%= result[i].nr_telefon %>
                                    </td>
                    </tr>
                    <% } %>
            </table>
            <% } %>

    </div>
    <% include body_end.html %>