<% include body.html %>
<div id="page_content">

    <% if(typeof result_final == 'object' && result_final){ 
         for(var i=0; i < result_final.length; i++) { %>

    <p>123</p> ala bala portocala

    } %>




    <p>test</p>
</div>
<% include body_end.html %>