<% include body.html %>

    <div id="page_content">
        <h1>Raport</h1>

        <% if (typeof result_final == 'object' && result_final){ %>

            <table id="data_menu">

                <%for (var result in result_final){%>
                    <tr>
                        <%for (var subresult in result_final[result]){%>

                            <td>
                                <%= subresult%>:
                                    <%= result_final[result][subresult] %>
                            </td>

                            <%}%>
                    </tr>
                    <%}%>
            </table>


            <% } %>

    </div>

    <% include body_end.html %>